$background-color: #17171A;
$nav-color: #222531;
$footer-color: #323546;

$tile-color: #222531;
$tile-hover-color: #222531;
$tile-shadow-color: #000;

$title-font-color: #000;
$a-font-color: #58a6ff;
$font-color: #fff;
