<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PlasterBox — {{ID}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/new.css" />
    <script src="/box/index.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.7.0/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <div class="container" x-data="data">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p>📦 <strong>PlasterBox</strong></p>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item" href="/new">
              New
            </a>

            <a class="navbar-item" href="/recent">
              Recent
            </a>
          </div>
        </div>
      </nav>

      <br />
      <h3 class="title is-3">{{NAME}}</h3>
      <button class="button-bar button is-link is-light" @click="rawRedirect()">
        Raw
      </button>
      <button class="button-bar button is-primary is-light" @click="copy()">
        Copy
      </button>

      <p>{{ID}}</p>
      <br />

      <pre class="box" id="data">{{DATA}}</pre>
    </div>
  </body>
</html>
