<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PlasterBox — {{ID}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/css/new.css" />
    <script src="/box/index.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.7.0/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <div class="container" x-data="data">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p>📦 <strong>PlasterBox</strong></p>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/new">
              New
            </a>

            <a class="navbar-item" href="/recent">
              Recent
            </a>

            <a
              class="navbar-item"
              href="https://github.com/Basicprogrammer10/plaster-box"
            >
              Source Code
            </a>
          </div>
        </div>
      </nav>

      <br />
      <h3 class="title is-3">{{NAME}}</h3>
      <button class="button-bar button is-link is-light" @click="rawRedirect()">
        Raw
      </button>
      <button class="button-bar button is-primary is-light" @click="copy()">
        Copy
      </button>

      <p>{{ID}}</p>
      <br />

      <pre class="box" id="data">{{DATA}}</pre>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>PlasterBox</strong> by
          <a href="https://connorcode.com">Connor Slade</a>.
          <a href="https://github.com/Basicprogrammer10/plaster-box"
            >Source code</a
          >
          is licenced under
          <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
