<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>PlasterBox — Recent</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/recent.css" />
    <script src="/new/index.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.7.0/dist/cdn.min.js"
    ></script>
    <script defer src="/recent/index.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <p>📦 <strong>PlasterBox</strong></p>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item" href="/new">
              New
            </a>

            <a class="navbar-item" href="/recent">
              Recent
            </a>
          </div>
        </div>
      </nav>

      <br />
      <div class="box">
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{DATA}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
